@import url('https://fonts.googleapis.com/css2? family= Cherry+Bomb+One & display=swap');

/* Navigation */

.navigation__main {
  font-family: 'Cherry Bomb One', cursive;
  font-size: 32px;
  color: white;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0 0 0;

  height: fit-content;
  padding: 30px 0px;
  /* width: 65%; */
  margin: 0 auto;
  background-color: rgb(39, 38, 38);
}

.navigation__main a {
  all: unset;
}

.navigation__main a:hover {
  color: rgb(234, 234, 234);
  cursor: pointer;
}

.navigation__main a:active {
  color: white;
}



.navigation__logo {
  font-size: 42px;
}

/* Button Navigation for order page and menu edit page */

.buttonNavigation {
  font-family: 'Cherry Bomb One', cursive;

  display: flex;
  justify-content: space-around;

  margin: 0 auto;
  width: 20%;
  background-color: rgb(39, 38, 38);
}

.buttonNavigation__button {
  all: unset;


  color: white;
  background-color: black;

}

.orderItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin-top: 30px;
}

.orderItem {
  display: flex;
  flex-direction: column;

  min-width: 600px;
  max-width: 600px;
  margin: 0 30px;
  margin-bottom: 90px;
  border: 4px solid black;
}