@import url('https://fonts.googleapis.com/css2? family= Cherry+Bomb+One & display=swap');

/* Navigation */

.navigation__main {
  font-family: 'Cherry Bomb One', cursive;
  font-size: 32px;
  color: white;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0 0 0;

  height: fit-content;
  padding: 30px 0px;
  /* width: 65%; */
  margin: 0 auto;
  background-color: rgb(39, 38, 38);
}

.navigation__main a {
  all: unset;
}

.navigation__main a:hover {
  color: rgb(234, 234, 234);
  cursor: pointer;
}

.navigation__main a:active {
  color: white;
}



.navigation__logo {
  font-size: 42px;
}

/* Button Navigation for order page and menu edit page */

.buttonNavigation {
  font-family: 'Cherry Bomb One', cursive;

  display: flex;
  justify-content: space-around;

  margin: 0 auto;
  width: 20%;
  background-color: rgb(39, 38, 38);
}

.buttonNavigation__button {
  all: unset;


  color: white;
  background-color: black;

}

/* Order items for order page */
.orderItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin-top: 30px;
}

.orderItem {
  display: flex;
  flex-direction: column;

  min-width: 600px;
  max-width: 600px;
  margin: 0 30px;
  margin-bottom: 90px;
  border: 4px solid black;
}

.orderItem button {
  margin-top: auto;
}

.orderItem button:active {
  background-color: grey;
}

/* Order page offcanvas checkout */

.offcanvasHeader {

  text-align: center;
  float: right;
}

.cartButton {
  /* text-align: end; */
  font-family: 'Cherry Bomb One', cursive;
  font-size: 22px;

  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  /* white-space: nowrap; */
  display: block;
  bottom: 0;
  width: fit-content;
  height: 150px;

  position: fixed;
  margin-bottom: auto;
  padding: 4px;
  top: 50%;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  background-color: black;
}

.cartButton:hover {
  background-color: rgba(0, 0, 0, 0.66);
}

/* Menu Edit & Add */

.menuAddForm {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 35px 0;
  background-color: rgba(179, 177, 177, 0.436);
}

.menuAddForm input {
  margin-right: 30px;
}

.menuAddForm input[type="number"] {
  width: 60px;
}

.menuAddForm label {
  margin-right: 30px;
}

.menuAddForm label:nth-of-type(1) {
  margin-left: 30px;
}

.menuAddForm textarea {
  width: 25%;
  height: 150px;
  margin-right: 30px;
}

.menuAddForm select {
  margin-right: 30px;
}

/* Order Items Admin */

.orderItemsAdmin {
  /* text-align: center; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin-top: 30px;
}

/* Login */
.loginContainer {

  width: 500px;
  margin: 0 auto;
  margin-top: 300px;
  padding: 50px;
  background-color: rgba(128, 128, 128, 0.462);
  border: 2px solid black;
}

.loginContainer input {
  display: block;
  margin-bottom: 20px;
}

.loginContainer input:nth-of-type(2) {
  display: block;
  margin-bottom: 50px;
}

/* Register */

.registerContainer {

  width: 500px;
  margin: 0 auto;
  margin-top: 300px;
  padding: 50px;
  background-color: rgba(128, 128, 128, 0.462);
  border: 2px solid black;
}

.registerContainer input {
  display: block;
  margin-bottom: 20px;
}

.registerContainer input:nth-of-type(3) {
  display: block;
  margin-bottom: 50px;
}